/* At-Rules */
@charset "iso-8859-1";


a.one:link {color:white;}
a.one:visited {color:white;}
a.one:hover {color:hotpink;}

a.two:link {color:#ff0000;}
a.two:visited {color:#0000ff;}
a.two:hover {font-size:150%;}

a.three:link {color:#ff0000;}
a.three:visited {color:#0000ff;}
a.three:hover {background:#66ff66;}

a.four:link {color:#ff0000;}
a.four:visited {color:#0000ff;}
a.four:hover {font-family:monospace;}

a.five:link {color:#ff0000;text-decoration:none;}
a.five:visited {color:#0000ff;text-decoration:none;}
a.five:hover {text-decoration:underline;}








.heading1 {
	border-style:solid; border-width:1px; 
	FONT-SIZE: 10pt; COLOR: #000000; LINE-HEIGHT: 14px; 
	FONT-FAMILY: Bell MT; list-style-image:url('_themes/watermar/awatbul2.gif'); 
	width:183; padding-left:4px; padding-right:4px; padding-top:1px; padding-bottom:1px; 
	background-color:#FFCCCC; height:20
}



.heading2 {
	
	FONT-SIZE: 18pt; COLOR: #000000; LINE-HEIGHT: 25px; 
	FONT-FAMILY: Bell MT; 
}








.base1 {
	border-style:solid; border-width:1px; 
	FONT-SIZE: 10pt; COLOR: #000000; LINE-HEIGHT: 14px; 
	FONT-FAMILY: Bell MT; list-style-image:url('_themes/watermar/awatbul2.gif'); 
	width:200; padding-left:4px; padding-right:4px; padding-top:1px; padding-bottom:1px; 
	background-color:#FFCCCC; height:120
}


.base2       { font-size: 8pt; font-family: Times New Roman; width: 200; 
               border: 1px double #800080; padding-left: 4px; padding-right: 
               4px; padding-top: 1px; padding-bottom: 1px; background-color: 
               #FFCC99 }


.base2a       { font-size: 8pt; font-family: Times New Roman; width: 200; 
               border: 1px double #800080; padding-left: 4px; padding-right: 
               4px; padding-top: 1px; padding-bottom: 1px; background-color: 
               #FFCC99; text-align:center }


               
               
.base3       { width: 248; height: 250;  8pt; 
               border-left: 1px solid #993333; 
               border-right: 1px dotted #993333; border-top: 1px inset #993333; 
               border-bottom: 1px outset #993333; padding: 3px; 
               background-color: #FFF9F9; font-size:10pt; color:#000000; font-family:Trebuchet MS }  
               
.base3a       { width: 248; height: 250;  8pt; 
               border-left: 0px solid #993333; 
               border-right: 0px dotted #993333; border-top: 1px inset #993333; 
               border-bottom: 1px outset #993333; padding: 3px; 
               background-color: #558CC2; font-size:10pt; color:#FFFFFF; font-family:Trebuchet MS; font-weight:bold } 



.base3b      { width: 195; 8pt; 
               border-left: 1px dotted #FFFFFF; 
               border-right: 1px dotted #FFFFFF; border-bottom: 1px solid #FFFFFF; padding: 7px; 
               background-color: #558CC2; font-size:10pt; color:#FFFFFF; font-family:Trebuchet MS; font-weight:bold } 







.base4 {
	border-style:solid; border-width:1px; 
	FONT-SIZE: 14pt; COLOR: #000000; LINE-HEIGHT: 14px; 
	FONT-FAMILY: Bell MT; list-style-image:url('_themes/watermar/awatbul2.gif'); 
	width:200; padding-left:4px; padding-right:4px; padding-top:1px; padding-bottom:1px; 
	background-color:#FFCCCC; font-weight:bold
}            
               
 

.base5      { width: 500; height: 250;  8pt; 
               border-left: 1px solid #993333; 
               border-right: 1px dotted #993333; border-top: 1px inset #993333; 
               border-bottom: 1px outset #993333; padding: 3px; 
               background-color: #FFF9F9; font-size:10pt; color:#000000; font-family:Trebuchet MS }  


.border      { 
               border-left: 1px dotted #ffffff; 
               border-right: 1px dotted #ffffff; border-bottom: 1px solid #FFFFFF; padding: 0; width:752; text-align:center; background-color:#558CC2 
               }  



.border2      { 
               border-left: 1px dashed #FFFFFF; 
               border-right: 1px dashed #FFFFFF; 
               }  




.border3      { 
               border-right: 1px dashed #FFFFFF; 
               
               }  












              
               
               
/* End of style section. Generated by Craig Balunsat at 2/4/2005 7:54:30 PM */
