
/* At-Rules */
@charset "iso-8859-1";



body {color: rgb(192, 192, 192);


}

h1   {rgb(192, 192, 192);}

p    {color: rgb(192, 192, 192);}

.p2    {color: rgb(192, 192, 192);


font-family: arial; font-style: normal;
font-variant: normal; font-weight: bold; font-size: 16px;
line-height: normal; font-size-adjust: none; font-stretch:
normal; COLOR: #000000;

}


a:link {
    color: #faebd7; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: #a83535;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: pink;
    background-color: transparent;
    text-decoration: none;
font-size: 25px;
}

a:active {
    color: #008080;
    background-color: transparent;
    text-decoration: underline;
}




a.one:link {color:#ffffff; font-size: 16px;
}
a.one:visited {color:#ffffff;font-size: 16px;}
a.one:hover {color:#f7c1bb;
    background-color: transparent;
    text-decoration: none;
font-size: 16px;
a.one:active {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
    font-size: 16px;
}

a.two:link {color:#ff0000;}
a.two:visited {color:#0000ff;}
a.two:hover {font-size:150%;}

a.three:link {color:#ff0000;}
a.three:visited {color:#0000ff;}
a.three:hover {background:#66ff66;}

a.four:link {color:#ff0000;}
a.four:visited {color:#0000ff;}
a.four:hover {font-family:monospace;}

a.five:link {color:#ff0000;text-decoration:none;}
a.five:visited {color:#0000ff;text-decoration:none;}
a.five:hover {text-decoration:underline;}


}

.mytext {
	
	FONT-SIZE: 12pt; COLOR:  rgb(192, 192, 192); LINE-HEIGHT: 18px; 
	FONT-FAMILY: Times New Roman; 
}

.mytext2 {
	
	FONT-SIZE: 18pt; COLOR: #000000; LINE-HEIGHT: 25px; 
	FONT-FAMILY: Bell MT; 

              
               border-right: 1px dotted #993333;  
               border-bottom: 1px outset #993333; padding: 3px;
padding-left:4px; padding-right:4px; padding-top:1px; padding-bottom:1px;

}






.heading1 {
	border-style:solid; border-width:1px; 
	FONT-SIZE: 10pt; COLOR: #000000; LINE-HEIGHT: 14px; 
	FONT-FAMILY: Bell MT; list-style-image:url('_themes/watermar/awatbul2.gif'); 
	width:183; padding-left:4px; padding-right:4px; padding-top:1px; padding-bottom:1px; 
	background-color:#FFCCCC; height:20
}



.heading2 {
	
	FONT-SIZE: 18pt; COLOR: #000000; LINE-HEIGHT: 25px; 
	FONT-FAMILY: Bell MT; 
}


.heading3 {
	
	FONT-SIZE: 35pt; COLOR: #e3e6ea; LINE-HEIGHT: 35px;    
        font-weight: 900;
	FONT-FAMILY: ariel;  
         letter-spacing: 6px;
        

        overflow: auto;

    padding: 13px 0;
    border: 0px solid green;
    text-align: center;


        margin-left: auto ;
        margin-right: auto ;
}

.heading4 {
	border-style:solid; border-width:1px; 
	FONT-SIZE: 10pt; COLOR: #000000; LINE-HEIGHT: 14px; 
	FONT-FAMILY: Bell MT; list-style-image:url('docs/bullet.jpgf'); 
	width:183; padding-left:4px; padding-right:4px; padding-top:1px; padding-bottom:1px; 
	background-color:#FFCCCC; height:20
}



.base1 {
	border-style:solid; border-width:1px; 
	FONT-SIZE: 10pt; COLOR: #000000; LINE-HEIGHT: 14px; 
	FONT-FAMILY: Bell MT; list-style-image:url('docs/bullet.jpg'); 
	width:200; padding-left:4px; padding-right:4px; padding-top:1px; padding-bottom:1px; 
	background-color:#FFCCCC; height:120
}


.base2       { font-size: 8pt; font-family: Times New Roman; width: 200; 
               border: 1px double #800080; padding-left: 4px; padding-right: 
               4px; padding-top: 1px; padding-bottom: 1px; background-color: 
               #FFCC99 }


.base2a       { font-size: 8pt; font-family: Times New Roman; width: 200; 
               border: 1px double #800080; padding-left: 4px; padding-right: 
               4px; padding-top: 1px; padding-bottom: 1px; background-color: 
               #FFCC99; text-align:center }


               
               
.base3       { width: 248; height: 250;  8pt; 
               border-left: 1px solid #993333; 
               border-right: 1px dotted #993333; border-top: 1px inset #993333; 
               border-bottom: 1px outset #993333; padding: 3px; 
               background-color: #FFF9F9; font-size:10pt; color:#000000; font-family:Trebuchet MS }  
               
.base3a       { width: 248; height: 250;  8pt; 
               border-left: 0px solid #993333; 
               border-right: 0px dotted #993333; border-top: 1px inset #993333; 
               border-bottom: 1px outset #993333; padding: 3px; 
               background-color: #558CC2; font-size:10pt; color:#FFFFFF; font-family:Trebuchet MS; font-weight:bold } 



.base3b      { width: 195; 8pt; 
               border-left: 1px dotted #FFFFFF; 
               border-right: 1px dotted #FFFFFF; border-bottom: 1px solid #FFFFFF; padding: 7px; 
               background-color: #558CC2; font-size:10pt; color:#FFFFFF; font-family:Trebuchet MS; font-weight:bold } 








.base4 {
	border-style:solid; border-width:1px; 
	FONT-SIZE: 14pt; COLOR: #000000; LINE-HEIGHT: 14px; 
	FONT-FAMILY: Bell MT; list-style-image:url('_themes/watermar/awatbul2.gif'); 
	width:200; padding-left:4px; padding-right:4px; padding-top:1px; padding-bottom:1px; 
	background-color:#FFCCCC; font-weight:bold
}            
               
 

.base5      { width: 800; height: 20;  8pt; 
               border-left: 1px solid #e6edef; 
               border-right: 1px dotted #e6edef; border-top: 1px inset #993333; 
               border-bottom: 1px outset #e6edef; padding: 3px; 

  margin-left: auto ;
  margin-right: auto ;

text-align:center;

background-color: #134596; font-size:10pt; COLOR: rgb(192, 192, 192); font-family:Trebuchet MS 


}  
.base5 :hover {font-size: 10pt;} 


.base6      {     
            background-image: url("header.gif");
           width: 550px; 
          height: 245px;
           background-repeat: no-repeat;
               border-top: 1px inset #993333; 
               border-bottom: 1px outset #e6edef; padding: 3px; 

  margin-left: auto ;
  margin-right: auto ;

    position: relative;

        overflow: auto;

text-align:center;

 font-size:10pt; COLOR: rgb(192, 192, 192); font-family:Trebuchet MS 

}






.border      { 
               border-left: 1px dotted #ffffff; 
               border-right: 1px dotted #ffffff; border-bottom: 1px solid #FFFFFF; padding: 0; width:752; text-align:center; background-color:#558CC2 
               }  



.border2      { 
               border-left: 1px dashed #FFFFFF; 
               border-right: 1px dashed #FFFFFF; 
               }  




.border3      { 
               border-right: 1px dashed #FFFFFF; 
               
               }  



.position      { 
               border-right: 1px dashed #FFFFFF; 
 
    position: absolute;
    top: 1px;
    right: -25px;
               } 


.position2      { 
               border-right: 1px dashed #FFFFFF; 
    position: absolute;
    top: 1px;
    right: 160px;

               } 

.position3      { 
               border-right: 1px dashed #FFFFFF; 
    position: absolute;
    top: 45px;
    right: -25px;

               } 


.position4      { 
               border-right: 1px dashed #FFFFFF; 
    position: absolute;
    top: 45px;
    right: 160px;

               }

.position5      { 
               border-right: 1px dashed #FFFFFF; 
    position: absolute;
    top: 99px;
    right: 305px;

               }

.position6      { 
               border-right: 1px dashed #FFFFFF; 
    position: absolute;
    top:    230px;
    right: 50px;

               }


.position7      { 
               border-right: 1px dashed #FFFFFF; 
    position: absolute;
    top:    10px;
    right: 515px;

               }










.container {
    position: relative;
border-bottom: 10px solid #930b0b; padding: 0;

border-left: 1px dashed #930b0b;


}

.container2 {
    position: relative;
border-bottom: 1px solid #930b0b; padding: 0;

border-left: 1px dashed #930b0b;
width:300px;

}

.widget     { 
               border-right: 1px dashed #FFFFFF; 
    position: absolute;
        overflow: auto;

width:275px;


    top:   365px;
    right: 723px;




               }


.widget2     { 
               border-right: 1px dashed #FFFFFF; 
    position: absolute;
        overflow: auto;

width:275px;
height: 270px;

    top:    98px;
    right: 723px;




               }








.widget :hover {font-size: 8pt;} 







              
               
               
/* End of style section. Generated by Craig Balunsat at 2/4/2005 7:54:30 PM */
	

